:root {
  --header-bg-color: #4e026e;
  --header-btn-color: #d2006b;
  --header-btn-hover-color: #e869aa;
  --main-color: #ffffff;
}
.header {
  display: flex;
  align-items: center;

  /* justify-content: space-between; Выравнивание элементов */
  position: relative; /* Для позиционирования выпадающего меню */
  background-color: var(--header-bg-color); /* Цвет фона */
  padding: 10px 20px; /* Отступы */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /* Тень */
  border-bottom: 4px solid var(--main-color);
}

.header button {
  background-color: var(
    --header-btn-color
  ); /* Цвет фона кнопки */ /* Цвет текста кнопки */
  border: none; /* Убираем рамку */
  padding: 10px 15px; /* Отступы */
  margin: 0 17% 0 1%;
  border-radius: 5px; /* Скругление углов */
 /* Курсор при наведении */
  transition:0.3s; /* Плавный переход */
}

.categories {
  background-color: var(--header-btn-color);
  list-style: none; /* Убираем маркеры */
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем отступы */
  position: absolute; /* Позволяет позиционировать выпадающее меню */
  left: 16%; /* Позиционируем под кнопкой */ /* Выравнивание по левому краю кнопки */
  /* background-color: #ffffff; Цвет фона выпадающего меню */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
  z-index: 1000; /* Устанавливаем порядок наложения */
  opacity: 0; /* Скрываем по умолчанию */
  visibility: hidden; /* Скрываем по умолчанию */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавный переход */
}

.header button:hover + .categories,
.categories:hover {
  background-color: var(--header-btn-hovercolor);
  opacity: 1; /* Показываем меню */
  visibility: visible; /* Делаем видимым */
}

.header button:hover {
  background-color: var(--header-btn-hover-color);
}

.categories li {
    text-align: center;
    width: 80px;
    height: 44px;
    display:table-cell;
    vertical-align: middle;
  background-color: var(--header-btn-color);
  /* background-color: var(--header-btn-hover-color); */
/* Отступы для элементов списка */
}

.categories li:hover {

  background-color: var(--header-btn-hover-color);
}

.categories li a {
    transition: 0.3s;
    display: block;
  background-color: var(--header-btn-color);
  text-decoration: none; /* Убираем подчеркивание */
  transition: color 0.3s; /* Плавный переход цвета */
}

.categories li a:hover {
  background-color: var(--header-btn-hover-color);
}

.log-logout {
    padding: 9px;
    align-items: center;
    display: flex;
    background-color: var(--header-bg-color);
    /* border: 5px solid var(--header-btn-color);
    border-radius: 10px; */
}

.navlink {
    padding: 10px 15px; /* Отступы */
    border-radius: 5px;
  text-decoration: none;
  margin: 1em;
  background-color: var(--header-btn-color);
  transition: 0.3s;
}

.navlink:hover {
    background-color: var(--header-btn-hover-color);

}

.navlinkHome, .navlinkHome img {
    cursor: url('https://cdn.custom-cursor.com/db/pointer/32/Pink_Pointer.png'), pointer;
}

.hello-text {
    font-size: 30px;
    white-space: nowrap;
    text-align: center;
    background-color: var(--header-bg-color);
}

.header nav {
  display: flex; /* Используем flex для выравнивания */
  gap: 15px; /* Промежутки между элементами */
}

.title {
    text-decoration: none;
    margin-right: 5%;
}




.title h1 {
    white-space: nowrap;
    margin-right: 16%;
    font-size: 70px;
    cursor: url('https://cdn.custom-cursor.com/db/pointer/32/Pink_Pointer.png'), pointer;
    text-shadow:
    1px 1px 0 #d2006b,
    2px 2px 0 #d2006b,
    3px 3px 0 #d2006b,
    4px 4px 0 #d2006b,
    5px 5px 0 #d2006b,
    6px 6px 0 #d2006b,
    7px 7px 0 #d2006b,
    8px 8px 0 #d2006b;
  color: #ffffff;
  transition: all 1s;
}

.title:hover h1 {
  text-shadow:
    1px -1px 0 hsl(290,100%,40%),
    2px -2px 0 hsl(290,100%,40%),
    3px -3px 0 hsl(280,100%,60%),
    4px -4px 0 hsl(280,100%,60%),
    5px -5px 0 hsl(270,100%,75%),
    6px -6px 0 hsl(270,100%,80%),
    7px -7px 0 hsl(260,100%,85%),
    8px -8px 0 hsl(260,100%,90%);
  /* color: hsl(300,100%,30%); */
}



.logo {
border-radius: 10%;
  background-color: var(--header-bg-color);
  border: 5px solid var(--header-btn-color);
}
