:root {
    --header-bg-color: #4E026E;
    --header-btn-color: #D2006B;
    --header-btn-hover0color: #E869AA;
}
.header {
    display: flex;
    align-items: center;

    /* justify-content: space-between; Выравнивание элементов */
    position: relative; /* Для позиционирования выпадающего меню */
    background-color: var(--header-bg-color); /* Цвет фона */
    padding: 10px 20px; /* Отступы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
}

.header button {
    background-color: var(--header-btn-color); /* Цвет фона кнопки */ /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    padding: 10px 15px; /* Отступы */
    margin: 0 70% 0 2em;
    border-radius: 5px; /* Скругление углов */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход */
}

.categories {
    list-style: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы */
    position: absolute; /* Позволяет позиционировать выпадающее меню */
    left: 40%; /* Позиционируем под кнопкой */ /* Выравнивание по левому краю кнопки */
    background-color: #ffffff; /* Цвет фона выпадающего меню */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
    z-index: 1000; /* Устанавливаем порядок наложения */
    opacity: 0; /* Скрываем по умолчанию */
    visibility: hidden; /* Скрываем по умолчанию */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавный переход */
}

.header button:hover + .categories,
.categories:hover {
    opacity: 1; /* Показываем меню */
    visibility: visible; /* Делаем видимым */
}

.categories li {
    background-color: var(--header-btn-hover0color);
    display: inline-block; /* Выравнивание в одну строку */
    padding: 10px 20px; /* Отступы для элементов списка */
}

.categories li a {
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавный переход цвета */
}

.categories li a:hover {
    color: #d1d1d1; /* Цвет текста при наведении */
}

.log-logout {
    background: none;
    border: none;
}

.navlink {
    text-decoration: none;
    margin: 2em;
}

.header nav {
    display: flex; /* Используем flex для выравнивания */
    gap: 15px; /* Промежутки между элементами */
}
