:root {
  --main-color: #ffffff;
}

* {
    background-color: #B365D4;
  margin: 0;
  padding: 0;
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  color: var(--main-color);
}

button:active,
button:focus {
  outline: none !important;
  border: none;
  outline: none;
}
